.root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.filter {
  padding: 15px;
}

.content {
  width: 100%;
  padding-top: 15px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clear-btn {
  width: 100%;
  margin: 8px 0 0 0;
}

.th {
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear;
  transition: background-color 0.1s linear;
}
.th:hover {
  background-color: rgba(154, 156, 255, 0.2666666667);
}

.sort_icon {
  width: 25px;
  height: 25px;
  margin-left: 3px;
}